{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
    <a class="btn btn-primary mb-3" href="{% url 'label_create' %}">{{ button }}</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Author" %}</th>
            <th>{% trans "Date of creation" %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for label in labels %}
        <tr>
            <td>{{ label.id }}</td>
            <td>{{ label.name }}</td>
            {% if label.author %}
            <td>{{ label.author }}</td>
            {% else %}
            <td>{% trans "Unknown" %}</td>
            {% endif %}
            <td>{{ label.created_at }}</td>
            <td>
                <a href="{% url 'label_update' label.pk %}">{% trans "Update" %}</a>
                <br>
                <a href="{% url 'label_delete' label.pk %}">{% trans "Delete" %}</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}